# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
VENV/
*.egg-info/
.installed.cfg
*.egg
.idea/
.vscode/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Entorno virtual
Carrito_entorno/

# Node
node_modules/
npm-debug.log
package-lock.json

# Media
/media/
