{% extends 'Carrito_app/base.html' %}

{% block title %}Verificación de Dos Pasos{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Verificación de Dos Pasos</h3>
                </div>
                <div class="card-body">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} text-center" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="code">Código de Verificación</label>
                            <input type="text" class="form-control" id="code" name="code" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Verificar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
